.weatherCard, .weatherCardDark{
  position: fixed;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  width: 35%;
  height: 55%;
  min-width: 360px;
  min-height: 480px;
}
.weatherCard {
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #a4a4a4;
}
.weatherCardDark {
  background-color: #3f3f3f;
  box-shadow: 0 10px 0 0 #303030;
}
.active {
  left: 50%;
  top: 50%;
  height: 75%;
  transform: translate(-50%, -50%);
}
.prev {
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.next {
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}
.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.header {
  display: flex;
  align-self: start;
  flex-direction: column;
  padding-top: 20px;
  flex-grow: 1;
}
.day {
  display: flex;
  font-size: calc(1em + 5vw);
}
.date {
  display: flex;
  font-size: calc(1em + 1.2vw);
}
.main {
  display: flex;
  font-size: 34pt;
  flex-grow: 1;
}
.iconAndTemp {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  width: 140px;
  height: 140px;
}
.temp {
  display: flex;
  font-size: 76pt;
  text-align: right;
}
.tempMinMax {
  display: flex;
  flex-direction: column;
  font-size: calc(1em + 4vw);
}
.max {
  display: flex;
  color: #a33350;
}
.maxDark {
  display: flex;
  color: #b08080;
}
.min {
  display: flex;
  color: #5454f0
}
.minDark {
  display: flex;
  color: #9090f3;
  background-color: #3f3f3f;
}
.aciveFooter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.others {
  display: flex;
  justify-content: space-between;
  font-size: calc(0.7em + 1vw);
}
.location {
  display: flex;
  font-size: 24pt;
  margin-bottom: 10px;
}
