.App {
  background-color: #cccccc;
  color: #222222;
  text-align: center;
}
.AppDark {
  background-color: #222222;
  color: #cccccc;
  text-align: center;
}

.stage-0 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.inputLocation {
  padding: 16px 32px;
  
}

.btnStart {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btnStart:hover {
  background-color: #4CAF50;
  color: white;
}

.googleLogo {
  width: 120px;
  margin: 10px;
  vertical-align: bottom;
}

.headerToolbar {
  position: fixed;
  padding: 5px;
  width: 100%;
}

.headerMenu {
  display: flex;
  align-items: center;
  padding: 10px;
}

.btnHome {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  text-decoration: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 5px;
}

.btnHome:hover {
  background-color: #4CAF50;
  color: white;
}

@media only screen and (max-width: 600px) {
  .btnHome {
    width: 110px;
    height: 50px;
    font-size: 10pt;
    padding: 0;
  }
}

.space {
  flex-grow: 1;
}

@keyframes slide-in {
  from {
    right: -100%; 
  }
  to {
    right: 5%;
  }
}
@keyframes slide-out {
  from {
    right: 5%; 
  }
  to {
    right: -100%;
  }
}
.guide {
  position: fixed;
  overflow: hidden;
  top: 15px;
  right: 5%;
  animation: slide-in 3s;
}
.guideHide {
  position: fixed;
  overflow: hidden;
  top: 15px;
  right: -100%;
  animation: slide-out 3s;
}

@media only screen and (max-width: 600px) {
  .guide {
    display: none;
  }
  .guideHide {
    display: none;
  }
}

/* custom checkbox container */
.container {
  display: flex;
  position: relative;
  padding-left: 32px;
  margin-left: 20px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filterLeft {
  width: 5%;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
.filterRight {
  width: 5%;
  height: 100%;
  right: 0px;
  position: fixed;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3));
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 12pt;
  }
}