.App {
  background-color: #cccccc;
  text-align: center;
}

.stage-0 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.inputLocation {
  padding: 16px 32px;
  
}

.btnStart {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btnStart:hover {
  background-color: #4CAF50;
  color: white;
}

.googleLogo {
  width: 120px;
  margin: 10px;
  vertical-align: bottom;
}

.headerWidget {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.headerLeft {
  display: flex;
  align-items: center;
  padding: 10px;
}

.btnHome {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btnHome:hover {
  background-color: #4CAF50;
  color: white;
}

/* custom checkbox container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}